<div class="flex flex-col items-center gap-4 p-4">
  <img src={~p"/images/logo_logogram_only.svg"} alt="CSS Clash Logo" />

  <div class="mt-4">
    <.link href={~p"/targets"} class="btn btn-primary">
      {dgettext("home", "go_to_targets")}
    </.link>
  </div>
</div>
