/* See the Tailwind configuration guide for advanced usage
   https://tailwindcss.com/docs/configuration */

@import "tailwindcss" source(none);
@source "../css";
@source "../js";
@source "../../lib/css_clash_web";

/* A Tailwind plugin that makes "hero-#{ICON}" classes available.
   The heroicons installation itself is managed by your mix.exs */
@plugin "../vendor/heroicons";

/* daisyUI Tailwind Plugin. You can update this file by fetching the latest version with:
   curl -sLO https://github.com/saadeghi/daisyui/releases/latest/download/daisyui.js
   Make sure to look at the daisyUI changelog: https://daisyui.com/docs/changelog/ */
@plugin "../vendor/daisyui" {
  themes: false;
}

/* daisyUI theme plugin. You can update this file by fetching the latest version with:
  curl -sLO https://github.com/saadeghi/daisyui/releases/latest/download/daisyui-theme.js
  We ship with two themes, a light one inspired on Phoenix colors and a dark one inspired
  on Elixir colors. Build your own at: https://daisyui.com/theme-generator/ */

@plugin "../vendor/daisyui-theme" {
  name: "dark";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(37% 0.01 67.558);
  --color-base-200: oklch(26% 0.007 34.298);
  --color-base-300: oklch(21% 0.006 56.043);
  --color-base-content: oklch(98% 0.001 106.423);
  --color-primary: #ff4500;
  --color-primary-content: oklch(98% 0.016 73.684);
  --color-secondary: #00a9e2;
  --color-secondary-content: oklch(30% 0.056 229.695);
  --color-accent: #fbc02d;
  --color-accent-content: oklch(28% 0.066 53.813);
  --color-neutral: #9ca3af;
  --color-neutral-content: oklch(20% 0.042 265.755);
  --color-info: #00a9e2;
  --color-info-content: oklch(30% 0.056 229.695);
  --color-success: #43a047;
  --color-success-content: oklch(26% 0.051 172.552);
  --color-warning: #ffb300;
  --color-warning-content: oklch(27% 0.077 45.635);
  --color-error: #f44336;
  --color-error-content: oklch(13% 0.028 261.692);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "../vendor/daisyui-theme" {
  name: "light";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.003 247.858);
  --color-base-200: oklch(96% 0.007 247.896);
  --color-base-300: oklch(92% 0.013 255.508);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: #ff4500;
  --color-primary-content: oklch(98% 0.022 95.277);
  --color-secondary: #00bfff;
  --color-secondary-content: oklch(97% 0.013 236.62);
  --color-accent: #fbc02d;
  --color-accent-content: oklch(14% 0.005 285.823);
  --color-neutral: #6b7280;
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: #00a9e2;
  --color-info-content: oklch(98% 0 0);
  --color-success: #4caf50;
  --color-success-content: oklch(26% 0.065 152.934);
  --color-warning: oklch(0.8392 0.162 84.37);
  --color-warning-content: oklch(12% 0.042 264.695);
  --color-error: #e53935;
  --color-error-content: oklch(98% 0 0);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

/* Add variants based on LiveView classes */
@custom-variant phx-click-loading ([".phx-click-loading&", ".phx-click-loading &"]);
@custom-variant phx-submit-loading ([".phx-submit-loading&", ".phx-submit-loading &"]);
@custom-variant phx-change-loading ([".phx-change-loading&", ".phx-change-loading &"]);

/* Make LiveView wrapper divs transparent for layout */
[data-phx-root-id] {
  display: contents;
}

/* This file is for your main application CSS */

@import "./code-mirror-styles.css";
@import "./animations.css";
